*{
  padding: 0;
  margin: 0;
box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
a{
  text-decoration: none;
  color: black;
}
.menu-box:hover .img-box img{
  filter: blur(0);
  /*transform: scale(1.04);*/
  
}
.wrapper{
  max-width: 1280px;
  margin: 0 auto;
background-color: grey;
/*display: inline-block;width: 100%;*/
border: 1px solid transparent;


}
.title{
  width: 250px;
  margin: 30px 0 10px 10px;
  background-color: blueviolet;
  text-align: center;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  /*마진상쇄현상*/
  /**/
 

}
.menu-box:hover{
  transform: scale(1.04);
  box-shadow: 0 15px 15px rgba(0,0, 0, 0.5) ;
}
.menu-box{
  display: inline-block;
  width:calc((100% - 100px) / 4);
  margin: 20px 10px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 4px 5px rgba(82, 81, 81, 0.5);
  background-color: #fff;
  transition: transform 400ms ease-in-out;
 

}
.img-box{
position: relative;
width: 100%;
height: 200px;
overflow: hidden;
}
.img-box img{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
filter: blur(2px);
transition: filler 400ms;
/*transform:top,left의 값에 따라서 위치를 움직인다. 무조건 50%라고 중간위치가 X*/

}
.menu-title{
  margin-top: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  /*<-태그는 텍스트의수를 단축시키고 ....으로 대처함*/
 
}
.menu-info{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.data,.count{
  font-size: 14px;
  color: #292828;
}
@media screen  and (max-width :1200px){
  .menu-box{

    width:calc((100% - 80px) / 3);
   
  
  } 
}

@media screen and (min-width :768px) {
  .menu-box{
  
    width:calc((100% - 60px) / 2);
   
   
  
  }
}
@media screen  and (min-width : 560px){
  .menu-box{
    
    width:calc(100% - 40px);
  
   
  }
}

